
<!DOCTYPE html>
<html>
<head>
    <title>Model Selection</title>
</head>
<body>
    <h1>Model Selection</h1>
    <p>Please select a model to make a prediction:</p>

    <ul>
        <li><a href="{{ url_for('abalone_page') }}">Abalone Age Prediction Model</a></li>
        <li><a href="{{ url_for('steel_page') }}">Steel Plate Crack Classification Model</a></li>
        <li><a href="{{ url_for('pulsation_page') }}">MacDongSeong Discrimination Model</a></li>
    </ul>
</body>
</html>
